.up-icon{
      font-size: 2.4em;
      width: 100%;
      padding: 0;
      height: 40px;
}
.fan-settings .middle-text{
      font-size: 1.5em;
      width: 100%;
      height: 40px;
      text-align: center;
      line-height: inherit;
}
.middle-icon{
      font-size: 1.7em;
      width: 100%;
      height: 40px;
      text-align: center;
      padding: 5px 0;
}
.down-icon{
      font-size: 1.5em;
      width: 100%;
      height: 40px;
      text-align: center;
      line-height: 2.5;
      padding: 0;
}
.smart-home-body{
      margin: 110px 0 0 0;
}
.inline-table{
      display: inline-table;
}

/*fan area*/
.fan-settings h1,h2,h3,h4{
      /*height: 65px;*/
      padding: 0 20px;
}
.fan-settings ul li{
      list-style: none;
}
/*.fan-settings ul li:first-child a {
    font-size: 2em;
    line-height: 2.5;
    width:100%;
}*/


.mod-selector-left{
      padding-left:0;
}
.mod-selector .panel-heading,
.mod-selector .panel-body {
      margin-right: 15px;
}
.mod-selector-right{
      padding-right:0;
}
.mod-selector .panel-heading,
.mod-selector .panel-body {
      margin-left: 15px;
}

/*//fan area*/
/*degree pane*/
.degree-pane{
      height: 150px;
      margin: 0 0 15px 0;
}
.degree-pane-content{
      /*padding: 3em 0 !important;*/
      height: 110px;
}
.degree-pane-content i{
      color:#ffffff;
}
/*//degree pane*/
/*target scroll*/


/*//target scroll*/
/*tab menu*/
.condition-tab-area{
      
}
.condition-tab-menu ul li {
      height: 50px;
      padding: 0;
}
.condition-tab-menu ul li a{
      font-size: 14px !important;
      height: 100%;
      
}
/*//tab menu*/
/*button on - off*/
.btn-on-off{
      background-color: rgba(0, 0, 0, 0.8);
}

/*//button on - off*/
@media screen and (max-width: 1024px) {
    
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) { 
   
 
}

@media only screen and (max-device-width: 480px) {
      
      .condition-menu .btn-ghost{
            width: 100%;
            height: auto;
      }
      .condition-menu .div{
            padding: 0;
      }
      .condition-menu div[class*="col-"] {
            padding: 0 5px;
      }
      .fan-settings .middle-text,.up-icon,.down-icon,.middle-icon{
            height: 50px;
      }
      .target-scroll .target-scroll-content li,
      .target-scroll .target-scroll-content,
      .target-scroll .target-scroll-wheel{
            width: 90px;
      }
      .target-scroll .target-scroll-content li{
            height: 40px;
            margin: 5px 0;
            padding: 20px 0 0 0;
      }
      .target-scroll .active{
            font-size: 2em;
      }
      .target-scroll .target-scroll-content{
            height: 55px;
      }
      .degree-pane{
            height: 100px;
      }
      .degree-pane-content h1{
            margin: 0;
            line-height: 1.5;
      }
      .btn-on-off{
            width: auto;
            height: auto;
            padding: 10px;
            display: table-row;
      }
}
@media screen and (min-device-width: 320px) and (max-device-width: 360px) {
      .fan-settings .middle-text{
            font-size: 1em;
            height: 35px;
            width: 100%;
            line-height: 2.5em;
      }
      .up-icon, .down-icon, .middle-icon {
            height: 35px;
      }
      .up-icon{
            font-size: 2em;
      }
      .middle-icon{
            font-size: 1.5em;
      }
}