.safetyhome-area h1, .safetyhome-area h3{
    margin: 5px 0;
    display: inline-block;
}
.safetyhome-area .safetyhome-area {
    background: #151515;
}
@media screen and (max-width: 480px) {
	.safetyhome-area h1, .safetyhome-area h3{
        margin: .8em;
    }
    .safetyhome-area h3 {
        font-size: 1.5em;
    }
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) { 
    .safetyhome-area h3 {
        font-size: 1.2em;
    }
}